<div class="sidebar-module">
  <h4>Information</h4>
  <a href="{{ site.baseurl }}/submit/">Submit Your Record Here</a><br>
  <a href="{{ site.baseurl }}/" style="border-bottom:none;">
    <img src="https://img.shields.io/badge/total records-{{ site.posts | size }} posts-orange" alt="Total records" style="margin-top:6px;">
  </a><br>
  <a href="https://github.com/tw-apply-info/tw-apply-info.github.io/pulls" target="_blank" style="border-bottom:none;">
    <img src="https://img.shields.io/github/issues-pr/tw-apply-info/tw-apply-info.github.io" alt="Open PRs" style="margin-top:6px;">
  </a>
  
</div>
