<div class="sidebar-module">
  <h4>Information</h4>
  <a href="{{ site.baseurl }}/submit/">Submit Your Record Here</a><br>
  <a href="{{ site.baseurl }}/" style="border-bottom:none;">
    <img src="https://img.shields.io/badge/Total Records-{{ site.posts | size }} posts-green" alt="Total Records" style="margin-top:6px;">
  </a><br>
  <a href="https://github.com/tw-apply-info/tw-apply-info.github.io/pulls" target="_blank" style="border-bottom:none;">
    <img src="https://img.shields.io/github/issues-pr/tw-apply-info/tw-apply-info.github.io?label=Pending%20Records&color=orange" alt="Total Records"
      style="margin-top:6px;">
  </a>
  
</div>
